/**
 * Custom CSS may be added here.
 */

e .tab-pane {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.line {
    font-weight: bold;
    text-align: center;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

form.settings label {
    width: 100px;
    display: block;
    float: left;
}

form.settings .form-item {
    clear: both;
}